#post_content {
  figure {
    img {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  p {
    font-family: var(--font-montserrat);
    color: var(--gray-text);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2rem;
    font-family: var(--font-cardenio);
    color: #777777;
  }

  ul {
    font-family: var(--font-montserrat);
    color: var(--gray-text);

    list-style-type: disc;

    li {
      margin-left: 1rem;
    }
  }

  ol {
    font-family: var(--font-montserrat);
    color: var(--gray-text);

    list-style-type: disc;

    li {
      margin-left: 1rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-family: var(--font-cardenio);
    color: var(--gray-text);
    margin: 1rem 0 1rem 0;
  }

  h4 {
    font-size: 1rem;
    font-family: var(--font-montserrat);
    color: var(--gray-text);
    margin: 1rem 0 1rem 0;
  }
}
